@using Eshop.Context
@inject  UserProductContext context
@model IEnumerable<UserProduct>

 

    <h1>Products</h1>
<p id="Cart"></p>
<div> <button onclick="cartdisplay()" class="btn btn-primary">ADD ITEMS</button></div>

<script>
    var count=0
    let  Cart = "Cart";
    function cartupdate()
    {
        count=count+1;
    }
    function cartdelete()
    {
        count=count-1;
    }
    function cartdisplay()
    {
        document.getElementById("Cart").innerHTML=Cart+" :"+ count;

    }
 </script>
 

<div class="row">
@foreach(var item in Model)
{     
    
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    PRODUCT
                </div>
                <div class="card-body">
                    <h5 class="card-title">PRODUCT DETAILS</h5>
                   
                    <p class="card-text">
                        <ul class="property">
                            <li>
                                property1:@item.property1
                            </li>

                            <li>
                                property2:@item.property2
                            </li>
                            <li>
                            property3:@item.property3
                            </li>
                            <li>
                                property4:@item.property4
                            </li>
                           
                        </ul>
                    </p>
                    <button onclick="cartupdate()" class="btn btn-primary">update</button>
                    <button onclick="cartdelete()" class="btn btn-primary ">delete</button>

             
                </div>
            </div>
        </div> 



    }
</div>




    

        
          
       
     
        
    
    
    
     