<h1>Add your product</h1>
<div>
    <input type="image" />
    <form method="get">
       <!-- <label>Enter Product Name</label><br>
        <input /><br> -->
        <label>Enter id unique an int</label>
        <input type="number"><br>
        <label>Enter property1</label><br>
        <input type="text"><br>
        <label>Enter property2</label><br>
        <input type="text"><br>
        <label>Enter property3</label><br>
        <input type="text"><br>
        <label>Enter property4</label><br>
        <input type="submit" value="submit">



    </form>
</div>
