<h1>Add your product</h1>
<div>
   <!-- <input type="image" />v -->
    <form method="get">
       <!-- <label>Enter Product Name</label><br>
        <input /><br> -->
        
        <label>Enter property1</label><br>
        <input type="text" name="property1"/><br>
        <label>Enter property2</label><br>
        <input type="text" name="property2"/><br>
        <label>Enter property3</label><br>
        <input type="text" name="property3"/><br>
        <label>Enter property4</label><br>
        <input type="text" name="property4" /><br>
        <input type="submit" value="submit">



    </form>
</div>
